/*CSS STYLESHEET*/

/*Gradient*/
body{
background: #ff0000;
background: -moz-linear-gradient(top,  #ff0000 0%, #f16f5c 47%, #ffe62b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(47%,#f16f5c), color-stop(100%,#ffe62b));
background: -webkit-linear-gradient(top,  #ff0000 0%,#f16f5c 47%,#ffe62b 100%);
background: -o-linear-gradient(top,  #ff0000 0%,#f16f5c 47%,#ffe62b 100%);
background: -ms-linear-gradient(top,  #ff0000 0%,#f16f5c 47%,#ffe62b 100%);
background: linear-gradient(to bottom,  #ff0000 0%,#f16f5c 47%,#ffe62b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ffe62b',GradientType=0 );
}
body {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
/*Main Title*/
h1 {
    font-family: 'Lobster', cursive;
    color: #AE0E03;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    font-size: 2.813em;
    text-shadow: 0.250em 0.250em 0.250em #aeaeae;
    width: 54.688em;
    margin-left: -8%;

}
h2{
    font-family: Arial, veranda, serif;
    font-size: 2.000em;
    font-weight: bolder;
    text-align:center;
}
/*Menu formatting */

content{
    text-align:center;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    width: 545px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}
/* Section Titles */

h3,h4 {font-family: Arial,veranda,sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/* History */
p{
    text-align:left;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    width: 600px;

}

/*White DIV box and drop Shadow*/

div{

    margin: auto;
    border: .125em solid #000000;
    padding: 0.625em 9.375em;
    width: 37.500em;
    border-radius: 0.313em;
    background:#fff;
    box-shadow: 0.625em 0.625em 0.313em #bababa;
}

/* NAV colors */

a:link {
    color: #ee82ee;
    text-decoration: none;
}
a:visited {
    color: #0f1fd0;
    text-decoration: none;
}
a:hover{
    color: #8b0000;
    text-decoration: underline;
}
a:active{
    color: #14d7b0;
}
